body { background-color: #d7caad;
}

body { color: #3d3d3d;
}

.fb { color: #ff5a00;
}

.ocd { color: #ff3600;
}

.tr { color: #ff3600;
}

.random-clr { color: #aeaeae;
}

#footer { background-color: #e5e5e5;
}

#fontbad { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}